* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/*Typography*/
.title{
  font-size: 2.5rem;
}

.title span{
  font-weight: 300;
  display:block;
  margin-bottom: 2em;
}

/*Makes Text Bigger Depending on Screen Size*/

@media (min-width: 55rem){
  .title{
    font-size: 3rem;
  }
}

/* Buttons */
.buttons {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.75em;
}

.buttons:hover,
.buttons:focus {
  background: #
}

 /* Navigation Bar */

header {
  margin-top: 1em;
  position: absolute;
  left: 0;
  right: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;

}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .75em;
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}


/*header */

.introduction {
  background-image: url(img/header1.JPG);
  padding: 10em 20em;
  background-size:cover;
  color: #FFF;
}
