* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/*Typography*/
.title{
  font-size: 2.5rem;
}
.current::before{
  content: "University of Waterloo | Mechatronics Engineering";
}
.title span{
  font-weight: 300;
  display:block;
  margin-bottom: 2em;
  font-size: 1.75rem;
}

.titleabout {
  font-size: 1.75rem;
  font-weight: 700;
}

.titleaboutme {
  font-size: 1.75rem;
  font-family: 'Playfair', serif;
  font-style: italic;
  font-weight: bold;
}
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }


/* Buttons */
.buttons {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.75em;
  border-color: #e2714f;
  color: white;
  width: 187px;
  margin-left: 0.25em;
  margin-right: 0.25em;
}


.buttons:hover {
  background-color: #e2714f;
  color: white;
}

 /* Navigation Bar */

header {
  margin-top: 1em;
  position: absolute;
  left: 0;
  right: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;

}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .75em;
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}



/*header */

.introduction {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header1.JPG);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header1.JPG);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header1.JPG);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header1.JPG);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/header1.JPG);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header1.JPG);
  padding: 10em 0;
  background-size:cover;
  background-position: center;
  color: #FFF;
}


.about-me {
  padding-left:3em;
  padding-right:3em;
  padding-top: 3em;
  padding-bottom: 2em;
}
.about-me p {
  padding-left:6em;
  padding-right:6em;
}
.aboutmelists {
  padding: 0em;
  list-style-type: none;
}

.aboutmelists ul {
  padding: 0em;
}

.aboutmelists li {
  display: inline-block;
  vertical-align: top;
  padding-left: 2em;
  padding-right: 2em;
}


.aboutmelists ul li {
  display: block;
  padding-top: 1em;
}

.projects {
  margin-bottom: 2em;
}
.contacticons {
  display: inline-block;
  margin:1em;
  padding:0em;
  width: 50px;
}

.footer {
  background-color: #e2714f;
}

.footer h1 {
  margin: 0px;
  padding: 1em;
}

.Projects ul{
  list-style-type: none;
  padding-left:0px;
}


.Projects ul li{
  display: inline-block;
}
/*Makes Text Bigger Depending on Screen Size*/

@media only screen and (max-width: 423px) {

  nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.5em;
    color: #FFF;
  }

.about-me{
padding-top:1em;
padding-bottom:0.5em;
}

  .buttons{
    font-size: 1rem;
    width: 150px;
    margin-left: 0em;
    margin-right: 0em;
  }

}


@media only screen and (max-width: 590px) {

  .about-me p {
    padding-left:1em;
    padding-right:1em;
  }

  .current::before {
    content: "University of Waterloo Mechatronics Engineering";
  }

}
